{% extends "layout.html" %}
{% block content %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><ul>
</ul>
<h2>COLLABORATOR &nbsp;AGREEMENT</h2>

<h2><br />
  Last updated on February 15, 2019</h2>

<p><br />
  The following describes the terms applicable to the use of the Quantamix Solutions (also referred to as the
  &quot;SITE&quot;, the &quot;WEBSITE&quot; or the &quot;PLATFORM&quot;). &#39;Quantamix Solutions&#39; or
  &#39;www.quantamixsolutions.com&#39; website are trademarks owned by Quantamix Solutions Solutions Private Limited and
  Quantamix Solutions BV, The Netherlands.</p>

<p>Quantamix Solutions is a analytics platform and ecosystem for production quality AI and machine learning tools,
  applications and social media solutions. Quantamix Solutions is a global community of data scientists, full stack
  developers, front end UX/UI designers and backend engineers &nbsp;(also referred to as &ldquo;Collaborator &rdquo; or
  &quot;Collaborator &quot;) . It helps &nbsp;brands across industries with business, technical, engineering,
  scientific, logistical, manufacturing, or data science questions (also referred to as &quot;SPONSOR&quot;) derive
  insights through qualitative and quantitative analysis, visualisation, interpretation of their data (also referred to
  as &quot;SERVICE&quot;). SPONSORS may post such problems (also referred to as &quot;USE CASE&quot; or &ldquo;USE CASES
  (S)&rdquo;) with help from Quantamix Solutions Lead Developer (also referred to as &quot;HEAD DEVELOPER (S)&quot;) and
  may offer a payment amount (each, also referred to as &quot;REWARD&quot;) for solutions submitted by Collaborator(s) )
  for a specific SOLUTION via the website (also referred to as &quot;PROPOSED SOLUTION(S)&quot;), which the COMPANY and
  the SPONSOR deems acceptable (&quot;ACCEPTED SOLUTION(S)&quot;) based upon the structure of the SOLUTION. SOLUTION
  description and associated guidelines, criteria and REWARDS will henceforth be referred to as the &quot;SOLUTION
  STATEMENT&quot;.</p>

<p>Your use of the SITE forms a legally binding contract with the COMPANY. If you have registered as a Collaborator
  &nbsp; (also referred to as &quot;YOU&quot; in this agreement), YOU will be bound to this agreement in addition to the
  terms in the Program And Privacy Policy and applicable terms in SOLUTION STATEMENT.</p>

<p>It is also clarified, that certain SOLUTIONS may be posted by the COMPANY. In such cases, COMPANY will also be the
  SPONSOR.</p>

<p>PLEASE READ THE FOLLOWING CAREFULLY. If you do not accept the terms and conditions mentioned here, do not use
  Quantamix Solutions and its services. The COMPANY may revise this Agreement at any time by posting an updated version
  on the WEBSITE. By continuing to be a registered &nbsp;as Collaborator &nbsp; and using Quantamix Solutions services,
  Collaborator &nbsp; hereby agrees and acknowledges:</p>

<p>Eligibility to participate as a Collaborator &nbsp;</p>

<p><br />
  COMPANY collects personal and professional information when the Collaborator &nbsp; registers on the SITE.
  Collaborator &nbsp; is responsible for maintaining correct and up to date information at all times.<br />
  If the COMPANY forms the opinion, on reasonable grounds, that the information provided by you or as maintained by you
  on the SITE is inaccurate, you may not be allowed to participate in a SOLUTION and/or your account on the SITE may be
  terminated. COMPANY will handle your personal information according to its Program And Privacy Policy.</p>

<p><br />
  <strong>Confidential Information</strong></p>

<p><br />
  That during the course of interactions of Collaborator (S) with the COMPANY or other Collaborator (S) on the platform
  in relation to the specific SOLUTION, there may be certain &quot;Confidential Information&quot; that are disclosed to
  the Collaborator (S); said &quot;Confidential Information&quot; consisting but not necessarily limited to:</p>

<p>SOLUTION STATEMENTS.<br />
  Data provided to you to enable you to participate in the USE CASES AND PROPOSED SOLUTIONS. Proprietary Confidential
  Information accessible under agreements like NDA&#39;s, PIA&#39;s, PDIA&#39;s etc signed with COMPANY, Collaborator
  (S), SPONSORS, Customers, Independent Consultants etc.</p>

<p><br />
  <strong>You agree to:</strong></p>

<p>Use the &quot;Confidential Information&quot; solely for understanding the use case or proposed solution setup by the
  COMPANY;&nbsp;<br />
  Establish safeguards to protect the &quot;Confidential Information&quot; from unauthorized use or disclosure;<br />
  NOT make any attempt to identify the source, reverse engineer personally identifiable information (&ldquo;PII&rdquo;),
  reproduce, distribute copies of, display, perform, sublicense, or create derivatives of the &ldquo;Confidential
  Information&rdquo; in full or in part;<br />
  At any time after the sharing of any information by the COMPANY, use for yourself or others, or disclose or divulge to
  others including future employees, any trade secrets, confidential information, or any other proprietary data provided
  by the COMPANY in violation of this agreement with the exclusion if such information become publicly available.&nbsp;
</p>

<p>Collaborator (S) have no obligation with respect to information that:<br />
  (a) was in Collaborator &nbsp;&#39;s possession without a duty of confidentiality before receipt from
  COMPANY;&nbsp;<br />
  (b) is or becomes a matter of public knowledge through no fault of Collaborator &nbsp;;&nbsp;<br />
  (c) is rightfully received by Collaborator &nbsp; from a third party without a duty of confidentiality;&nbsp;<br />
  (d) is independently developed by Collaborator &nbsp;;&nbsp;<br />
  (e) is disclosed by Collaborator &nbsp; with the COMPANY&#39;s prior written approval; or&nbsp;<br />
  (f) is disclosed under operation of law, regulation or court order, provided that&nbsp;<br />
  Collaborator &nbsp; provides the COMPANY with prompt notice of any efforts to compel disclosure and reasonably
  co-operates with the COMPANY&rsquo;s lawful attempts to prevent disclosure or to obtain a protective order.</p>

<p><br />
  The terms of this Agreement regarding Confidential Information will survive the termination or expiration of this
  Agreement.</p>

<p><br />
  <strong>Warranty</strong><br />
  YOU warrant and agree that any and all information contained in any PROPOSED SOLUTION or ACCEPTED SOLUTION will be
  accurate and will not:&nbsp;<br />
  infringe any third party&#39;s copyright, trademark, patent or other proprietary rights or rights of publicity or
  privacy; or<br />
  violate any law (including without limitation those governing export control, consumer protection, unfair competition,
  anti-discrimination or false advertising), or<br />
  be libelous, unlawfully threatening, or unlawfully harassing.<br />
  include any software, programming or other intellectual property that requires PROPOSED or ACCEPTED SOLUTIONS to be
  disclosed or distributed in source code or object code form, licensed for the purpose of making derivate works, or
  redistributable (&ldquo;Open Source Software&rdquo;) or has any other similar requirements.<br />
  YOU warrant and agree that YOU will create any and all information contained in any PROPOSED SOLUTIONS or ACCEPTED
  SOLUTION and will not collaborate with any third party (including without limitation any study partners, colleagues or
  other members that are not lawfully part of the SOLUTION)</p>

<p><br />
  <strong>Intellectual Property Definition</strong><br />
  &ldquo;INTELLECTUAL PROPERTY&rdquo; means patents, trademarks, service marks, rights (registered or unregistered) in
  any designs, applications for any of the foregoing, trade or business names, copyright (including rights in computer
  software) and circuit topography rights, Know-how, secret formulae and processes, lists of suppliers and customers and
  other proprietary knowledge and information, internet domain names, rights protecting goodwill and reputation,
  database rights (including rights of extraction) and all rights and forms of protection of a similar nature to any of
  the foregoing or having equivalent effect anywhere in the world and all rights under licenses and consents in respect
  of any of the rights and forms of protection mentioned in this definition (and &ldquo;INTELLECTUAL PROPERTY
  RIGHTS&rdquo; shall be construed accordingly).</p>

<p><br />
  <strong>Ownership and Assignment of INTELLECTUAL PROPERTY</strong><br />
  All materials developed by Collaborator &nbsp; shall be designated to one of the following Solution designations and
  the rights and licenses shall be as follows with respect to each:<br />
  PROPOSED SOLUTIONS: Collaborator &nbsp;shall retain all IPR in PROPOSED SOLUTIONS. Collaborator &nbsp; grants to
  COMPANY a 90 day, irrevocable, worldwide, exclusive, fully paid, royalty-free license to use and execute, reproduce,
  display and make copies of such PROPOSED SOLUTIONS for COMPANY and SPONSORS&rsquo; business purposes only.
  COMPANY&rsquo;s confers no title or ownership in the PROPOSED SOLUTION and no rights in any associated source code.
</p>

<p><br />
  ACCEPTED SOLUTIONS: Unless otherwise specified in the SOLUTION STATEMENT, all ACCEPTED SOLUTIONS shall be considered
  works made for hire. As such, Collaborator &nbsp; agrees that COMPANY exclusively owns all INTELLECTUAL PROPERTY
  RIGHTS in and to all ACCEPTED SOLUTIONS, and that such ACCEPTED SOLUTIONS are Confidential Information of COMPANY. To
  the extent that any portion of an ACCEPTED SOLUTION is not deemed a &ldquo;work made for hire&rdquo; by operation of
  law, Collaborator &nbsp; hereby irrevocably assigns, transfers and conveys to COMPANY all right, title and interest in
  and to such ACCEPTED SOLUTION, including all present and future INTELLECTUAL PROPERTY RIGHTS. Collaborator &nbsp;
  hereby waives in favor of COMPANY any and all artist&rsquo;s or moral rights (including without limitation, all rights
  of integrity and attribution) it may have in or to the ACCEPTED SOLUTION pursuant to any state or federal laws of the
  country concerned and all similar rights under the laws of all other applicable jurisdictions. Collaborator &nbsp;
  shall forfeit any license rights to use, execute, reproduce, distribute copies of, display, perform, sublicense,
  resell or create derivative works from any ACCEPTED SOLUTION.</p>

<p><br />
  <strong>INTELLECTUAL PROPERTY RIGHTS: Warranty and Indemnity</strong><br />
  The Collaborator &nbsp; warrants, represents and undertakes to the COMPANY that the COMPANY&rsquo;s receipt,
  possession and/or use (as the case may be) of the PROPOSED SOLUTIONS and/or ACCEPTED SOLUTIONS shall not infringe any
  INTELLECTUAL PROPERTY RIGHTS or other rights of any person.<br />
  The Collaborator &nbsp; shall indemnify the COMPANY against all losses incurred or suffered by the COMPANY arising
  from or in connection with any infringement of, or allegation or claim of infringement of, any INTELLECTUAL PROPERTY
  RIGHT or other rights made against the COMPANY or its personnel (also referred to as an &ldquo;IPR CLAIM&rdquo;).</p>

<p><br />
  The COMPANY shall:<br />
  promptly notify the Collaborator &nbsp; as soon as reasonably practicable of any IPR CLAIM of which it has
  notice;<br />
  notwithstanding any judicial obligation, not admit any liability or agree to any settlement or compromise of an IPR
  CLAIM, without first consulting with the Collaborator &nbsp;;<br />
  allow the Collaborator &nbsp; to manage and conduct all negotiations and proceedings at the Collaborator
  &nbsp;&rsquo;s own expense; and<br />
  In relation to any IPR CLAIM, the Collaborator &nbsp; shall ensure that the COMPANY is granted access to all relevant
  documents and proceedings connected with the IPR CLAIM and shall update the COMPANY at regular intervals regarding the
  progress of any IPR CLAIM.<br />
  If an IPR CLAIM is made, the Collaborator &nbsp; shall promptly at its expense either:<br />
  obtain for the COMPANY the right to continue to use, possess or receive the relevant aspect of the PROPOSED SOLUTION
  or ACCEPTED SOLUTION which is subject to the IPR CLAIM in the manner contemplated by this Collaborator &rsquo;s
  Agreement; or<br />
  modify or replace, or procure the modification or replacement of, the relevant material with a non-infringing
  substitute provided that:<br />
  the modified or replaced material remains capable of complying with the representations and warranties given under
  this Collaborator &rsquo;s Agreement;<br />
  the modified or replaced material not have an adverse effect on any other aspect of the PROPOSED SOLUTION or ACCEPTED
  SOLUTION ;<br />
  there is no additional cost to the COMPANY; and<br />
  the provisions of this Collaborator &rsquo;s Agreement apply to the replaced or modified material.<br />
  If the Collaborator &nbsp;:<br />
  fails to conduct negotiations and/or initiate proceedings in response to the IPR CLAIM within thirty (30) days of
  notice being given to the Collaborator &nbsp; by the COMPANY of the IPR CLAIM, the COMPANY shall be entitled to assume
  exclusive conduct of the IPR CLAIM and negotiate any settlement of the IPR CLAIM (which the Collaborator &nbsp; shall
  comply with including the payment of money);<br />
  fails to comply with its obligations within thirty (30) days of notice of the IPR Claim being given to the
  Collaborator &nbsp; by the COMPANY or the Collaborator &nbsp; elects to obtain a license in or to modify or replace
  the material but this fails to avoid or resolve the IPR CLAIM then, without prejudice to the COMPANY&rsquo;s other
  rights and remedies under any provision of this Collaborator &rsquo;s Agreement (including the indemnity given by the
  Collaborator &nbsp;, the COMPANY shall be entitled:<br />
  to a refund from the Collaborator &nbsp;for any fees including but not limited to the REWARD paid by the COMPANY in
  connection to the PROPOSED SOLUTION or ACCEPTED SOLUTION which is subject to the IPR CLAIM; and<br />
  to terminate the Collaborator &rsquo;s Agreement by notice.</p>

<p><br />
  <strong>Conditions Regarding PROPOSED SOLUTIONS</strong><br />
  Payment of REWARD will be handled in accordance with the terms set forth in the SOLUTION STATEMENT. The criteria for
  qualifying for a particular REWARD shall be as set forth on the SITE in connection with that particular SOLUTION
  STATEMENT.<br />
  If YOU submit a PROPOSED SOLUTION in response to COMPANY SOLUTION, YOU agree that YOU are the owner of the submitted
  PROPOSED SOLUTION and that YOU are legally free to make the disclosure and to convey the INTELLECTUAL PROPERTY RIGHTS
  being offered to the COMPANY.<br />
  YOU also agree that your PROPOSED SOLUTION is subject to terms mentioned in this Collaborator &rsquo;s agreement and
  Program And Privacy Policy and any applicable terms in SOLUTION STATEMENT.<br />
  YOU agree that the decision as to when a solution is treated as an ACCEPTED SOLUTION is solely up to the COMPANY and /
  or SPONSOR.<br />
  The COMPANY and / or SPONSOR may also, at their discretion, decide that no solution is an ACCEPTED SOLUTION, and can
  withdraw the problem. If a problem is not solved to the satisfaction of the COMPANY and / or SPONSOR, no funds are
  distributed to the Collaborator (S).<br />
  The meeting of the ACCEPTABLE SOLUTION criteria in the SOLUTION STATEMENT does not mean that a PROPOSED SOLUTION will
  be accepted by the COMPANY and / or SPONSOR.<br />
  The decision to accept a PROPOSED SOLUTION is entirely at the discretion of the COMPANY and / or SPONSOR.<br />
  The COMPANY may, at its sole discretion, and without notice, remove any Collaborator &nbsp; or SPONSOR from the
  WEBSITE.<br />
  If your PROPOSED SOLUTION is not accepted by the COMPANY and/or the SPONSOR, the COMPANY and/or the SPONSOR are not
  obliged to offer any explanation.</p>

<p><strong>ACCEPTED SOLUTION and Payment of REWARD</strong><br />
  ACCEPTED SOLUTION(S) will be eligible for REWARD in accordance with the SOLUTION STATEMENT.<br />
  Payment of REWARD will be handled in accordance with the terms set forth in the SOLUTION STATEMENT.<br />
  The COMPANY may deduct applicable fees and taxes applicable to the REWARD.<br />
  If due to an inadvertent error, the wrong amount of REWARD is allocated to you, the COMPANY will indicate this error
  and provide accompanying details to YOU up to a maximum of thirty (30) days from the Solution Completion Date as per
  the SOLUTION STATEMENT. In case of any additions to the REWARD, the COMPANY will transfer the additional amount to
  Collaborator &nbsp; account. In case of any deductions to the REWARD, the Collaborator &nbsp; is obliged to refund the
  incremental amount to the COMPANY.<br />
  Collaborator &nbsp; shall be responsible for all nature of taxes payable at any Country with respect to this
  transaction. The Collaborator &nbsp; shall alone be liable for such taxes and shall pay the taxes promptly.REWARD
  amount indicated in SOLUTION STATEMENT does not include any taxes, levies, duties or similar governmental assessments
  of any nature, including, for example, value-added, sales, use or withholding taxes, assessable by any jurisdiction
  whatsoever (collectively, &ldquo;Taxes&rdquo;). YOU are responsible for paying all Taxes associated with the REWARD.
  If the COMPANY has the legal obligation to pay or collect Taxes for which YOU are responsible under this Section 8,
  the COMPANY will invoice YOU and YOU will pay that amount unless YOU provide the COMPANY with a valid tax exemption
  certificate authorized by the appropriate taxing authority. For clarity, the COMPANY is solely responsible for taxes
  assessable against the COMPANY based on the COMPANY&rsquo;s income, property and employees. Further, for the purpose
  of complying with the tax laws in India the Collaborator &nbsp; shall provide all the data as requested for by the
  COMPANY.</p>

<p><br />
  <strong>Indemnification</strong><br />
  Collaborator &nbsp; will defend, indemnify and hold harmless the COMPANY from and against any and all costs (including
  attorney&#39;s fees incurred in defense) or liabilities (including payroll taxes, penalties or interest) arising out
  of his/her actions related to participation in SOLUTIONS.<br />
  Collaborator &nbsp; shall also indemnify and hold the COMPANY harmless from all claims, damages, losses and expenses
  for bodily injury and property damage arising out of or resulting from his association with COMPANY, but only to the
  extent such claims are caused in whole or in part by the negligent acts or omissions of the Collaborator &nbsp;.<br />
  Arbitration<br />
  In the event of any dispute or difference arising between the parties hereto or as to the rights and obligations under
  this agreement or as to any claim, monetary or otherwise of one party against the other or as to the Interpretation
  and effect of any terms and conditions of this agreement, such dispute or difference shall be referred to arbitration
  of a common Arbitrator if agreed upon or otherwise to two Arbitrators, one to be appointed by each of the parties to
  this agreement and such Arbitration shall be governed by the State of Delaware, United Sates.<br />
  The validity of this agreement and effect or meaning of the terms hereof will be decided according to the law of State
  of Delaware, United States.</p>

<p><br />
  <strong>Privacy Policy</strong><br />
  Last updated on 19 February 2019<br />
  Quantamix Solutions (the &quot;site&quot;, the &quot;website&quot; or the &quot;platform&quot;)</p>

<p>When you use the services(&ldquo;Services&rdquo;) of Quantamix Solutions Private Limited (also referred to as the
  &ldquo;Company&rdquo; or &ldquo;Quantamix Solutions&rdquo; or &ldquo;us&rdquo; or &ldquo;we&rdquo; in this document),
  we understand that you are trusting us with your information. We take this trust in us seriously and do everything we
  can to safeguard your information and give you the control you need to update, manage and delete your personal
  information if needed.</p>

<p>This privacy policy outlines the following:</p>

<p>How and what personal information we collect?<br />
  Why do we collect this information and how do we use it?<br />
  How do we keep this information safe?<br />
  Do we share or sell your information to third parties?<br />
  How can you manage and delete your information?<br />
  How do we protect information from children of less than 15 years of age?<br />
  How do we comply and cooperate with regulators?</p>

<p><br />
  If anything in this document requires further clarification or if you have any questions at all, please contact us at
  privacy@quantamixsolutions.com</p>

<p>By signing on to our platform, you are agreeing to having read this privacy policy in its entirety and agree with all
  the terms mentioned. This privacy policy applies to &lsquo;personal information&rsquo; meaning any information
  relating to an identifiable person who can be directly or indirectly identified in particular by reference to an
  identifier. We may anonymize and aggregate the information you provide even after you&rsquo;ve deleted it but not in
  anyway that directly identifies your data with you.</p>

<p>What personal information do we collect?<br />
  The Services registration forms require you to give us contact information like your name, password email address,
  home address and telephone number. We use this contact information from the registration form to authenticate you when
  you use our Services and to send you information about our products and services.</p>

<p>We also collect content generated by you during the use of your Services including direct messages to other users of
  the service, forum discussions and submissions of responses to solutions you participate in.</p>

<p><br />
  <strong>Analytics solutions including third party plugins</strong></p>

<p>Quantamix Solutions may use internal and third party analytics tools, including Google Analytics. The third party
  analytics companies we work with may combine the information collected with other information they have independently
  collected from other websites and/or other online products and services. Their collection and use of information is
  subject to their own privacy policies. These tools help us track your behavior and provide a better experience. Google
  Analytics is a web analysis service of Google Inc. (&quot;Google&quot;) Google Analytics uses so-called
  &quot;cookies,&rdquo; text files that are stored on your computer and allow an analysis of your use of the website.
  The information generated by the cookie about your use of this website (including your IP address) is sent to a server
  of Google and stored there. Google uses this information to analyze your use of this website in order to compile
  reports about the website activity for the website owners and in order to perform other services associated with the
  use of the website and the Internet. This means that a user&rsquo;s session will be tracked, but the user will be
  anonymous. Usage of Google Analytics is subject to data privacy policy of Google&rsquo;s services. For more
  information about Google Analytics cookies, please see Google&#39;s help pages and privacy policy:</p>

<p>Google has developed the Google Analytics opt-out browser add-on; if you want to opt out of Google Analytics, you can
  download and install the add-on for your web browser here.</p>

<p>Cookies: You consent to placement of cookies on your browser by us and our third party service providers.</p>

<p>Why do we collect this information and how do we use it?</p>

<p><br />
  We collect your information for the following reasons:</p>

<p>Use our services: To participate in our solutions and to use our services in general, we need to identify who you are
  and attribute content, including your submissions to solutions, to you.</p>

<p>Provide personalization of services: We use your information to personalize the experience you have with our Services
  to make it easy for you to use our Services. For example, we remember your login details so that you don&rsquo;t have
  to enter all your login details every time you need to access our Services or we personalize your dashboard upon
  logging in to the solutions you are participating in or are interested in.</p>

<p>Measure and Improve our Services: By monitoring how you use our Services, we can identify areas for improvement of
  the services which we can incorporate in future releases of the Service.</p>

<p>Communication: We use your information to communicate with you and allow you to communicate with others on the
  platform.</p>

<p>Protection from fraud and abuse: We may use IP addresses and cookie data to protect against automated abuse. This
  abuse could take many forms including spamming and various other forms of automated attacks. In response to detection
  of any abuse, we may disable your account or take other appropriate action. In case, you observe any spam or other
  automated abuse occurring from our Services, please contact us at privacy@quantamixsolutions.com immediately.</p>

<p>How do we keep the information safe?</p>

<p><br />
  We use several physical and technical safeguards to protect your personal information. Having said that, we do not
  warranty the security of any information you submit to us nor can we guarantee that our security safeguards cannot get
  breached. You are sharing your personal information with use at your own risk.</p>

<p>Do we share or sell your information to third parties?</p>

<p><br />
  <strong>Selling personal information: The Company does not sell or rent your personal information collected on this
    website.</strong></p>

<p>Sharing personal information: We may share your Information with agents, contractors or partners of Quantamix
  Solutions in connection with services that these individuals or entities perform for, or with, Quantamix Solutions.
  These agents, contractors or partners are restricted from using this data in any way other than to provide services
  for the Company, or services for the collaboration in which they and Company are engaged. By submitting a Proposed
  Solution to a project, for example, we may share your Information with other organizations that are seeking solutions
  through our platform(&ldquo;Sponsors&rdquo;) as part of the project evaluation process, and you consent that we may
  share your Information with the Sponsors for this purpose, and to award reward money in the event that your Proposed
  Solution is accepted.</p>

<p>Sharing of sponsored solutions: All intellectual property rights associated with a proposed solution submitted by you
  for a project shall belong to you until such a time as the solution is accepted by the Sponsor. Collaborator &#39;s
  intellectual property would be protected by both sponsor and company from unauthorized use or disclosure. In the case
  that your solution is not accepted by the sponsor, all rights to the proposed solution will continue to belong to you,
  during or at any time within 15 years of sharing the solution with company and sponsor.</p>

<p>Sharing your personal information with third party: We may also provide your Information to a third party in
  connection with the sale, assignment, or other transfer of the business of this website to which the information
  relates, in which case we will require any such buyer to agree to treat your Information in accordance with this
  Privacy Policy. As a convenience to our visitors, our Site may contain links to sites that we believe may offer useful
  information to you or the web sites of our Sponsors. The policies and procedures we described here do not apply to any
  third party sites. We suggest contacting those sites directly for information on their privacy, security, data
  collection, and distribution policies.</p>

<p>Accessing or Using Quantamix Solutions through Third Party services: If we offer and you choose to use Third Party
  services to access or use our Services, the Third Party services may send Personal Information about you to us. To the
  extent we combine such third-party sourced information with Personal Information we collect directly from you on the
  Services, we will treat the combined information as Personal Information under this Privacy Policy. If we discontinue
  use of any Third Party service (e.g., your Facebook, LinkedIn or any other account as an access mechanism for the
  Services), you consent that we may nevertheless retain any Personal Information, and other information and data, we
  may have already received in connection therewith in accordance with this Privacy Policy.</p>

<p>In addition, we may provide Third Party services&rsquo; interfaces or links on the Services to facilitate your
  sending a communication from the Services. For example, we may use third parties to facilitate e-mails, tweets,
  &ldquo;likes,&rdquo; content submissions or postings of comments on Facebook or other social media platforms. We may
  also enable access to or display of third party content via the Service, that is actually being served or published by
  the third party, and such third party may be collecting data from you in connection with that content. These third
  parties may collect and retain any information used or provided in any such communications or other activities and
  these third parties&rsquo; practices are not subject to our Privacy Policy.</p>

<p>When you use Third Party services, you are using their services and not our Services and they, not we, are
  responsible for their practices. You should review the applicable third party privacy policies before using such Third
  Party Services in connection with our Services.&nbsp;</p>

<p>Appearance of third-party content, links to third-party services, and/or apps appear on the Services: The Services
  may contain content that is supplied by a third party operator, and those third parties may collect Usage Data and
  your identifiers when such content is served to you. Third Party services may also be available via the Services. We
  are not responsible for the data collection and privacy practices employed by such third parties or their services and
  they may be collecting data about you and may be sharing it with us and/or others. These third parties and their
  services may also associate their Tracking Technologies with you, track you across sites and time, serve you their own
  advertisements and may or may not have their own published privacy policies.</p>

<p>In addition, when you are on the Services, you may be directed to other services that are operated and controlled by
  third parties that we do not control. For example, if you &ldquo;click&rdquo; on a link, the &ldquo;click&rdquo; may
  take you off the Services onto a different site. We encourage you to note when you leave our Services and to review
  the third-party privacy policies of all third-party locations and exercise caution in connection with them.</p>

<p>Be sure to review any available privacy policies and notices before submitting any Personal Information to a third
  party or its services, or otherwise interacting with Third Party services or other locations you link to from our
  Services, and exercise caution in connection with them. We are not responsible for the availability, completeness or
  accuracy of such third parties&rsquo; policies or notices.</p>

<p>How can you manage and delete your information?</p>

<p><br />
  Updating your information: Once you&rsquo;re signed in, you can update and edit your information. You can also change
  notification settings allowing you to decide the kind of automated communication that you receive from our Services.
</p>

<p>Deleting your information: You can delete your account, your posts or any other content you generate at any time from
  our Services. Upon a request for deletion, we take every step needed to remove the information from our systems. This
  process generally takes up to two months and could take up to six months to completely remove from all our systems.
  Some data, like project submissions may be retained for longer for meeting financial or legal regulations, ensuring
  security and the continuity of our services. Certain unforeseen events like outages, bugs, etc may cause delays beyond
  the timeframes mentioned above. We will do everything necessary to remediate such issues.</p>

<p>Withdraw Your Consent for Cookies at Any Time: If you do not wish to accept cookies in connection with your use of
  the Services, you will need to delete, and block or disable cookies via your browser settings.</p>

<p>Managing cookie settings: You can prevent the installation of cookies by changing settings on your browser software.
  Please note that disabling cookies will affect the functionality of the Services and may prevent you from being able
  to access certain features on the Quantamix Solutions Platform.</p>

<p>How do we protect information from children of less than 13 years of age?</p>

<p><br />
  Quantamix Solutions does not knowingly collect information from persons under 13 years of age and no part of our
  services is directed towards persons of 18 years or less. IF YOU ARE LESS THAN 13 YEARS OF AGE, PLEASE DO NOT ACCESS
  OUR SERVICES IN ANY MANNER. In fact, the Services provided by us are only directed towards those of age 18 or older.
  If you are a parent and you believe your child under the age of 13 has registered for our services without your
  consent, please contact us at privacy@quantamixsolutions.com and request us to delete your child&rsquo;s personal
  information from our systems.</p>

<p>How do we comply and cooperate with regulators?</p>

<p><br />
  We regularly update this privacy policy to ensure that we comply with regulators.</p>

<p>Data Transfer: Your personal information may be stored and processed outside your country. We transfer your data from
  the European Union to other locations in accordance with the standard contractual clauses we entered into as outlined
  here.</p>

<p>If your local country or European Union requirements apply to your personal data, you have the right to object to the
  processing of your information or export your information to another service. Please contact us at
  privacy@quantamixsolutions.com to exercise these rights.</p>

<p>Changes to the privacy policy<br />
  We make changes to the privacy policy from time to time but will not reduce your rights under this Privacy policy
  without your explicit consent. At any time, if you are do not agree with any of the changes made to this Privacy
  Policy, you must stop use of the Services and request us to delete your account. If you continue to use our services
  after a revision to our privacy policy, you consent and agree to the current version of the privacy policy.</p>

<p><strong>No Warranties</strong><br />
  EXCEPT AS EXPRESSLY PROVIDED IN THIS AGREEMENT, THE SERVICES ARE PROVIDED &quot;AS IS&quot;. Quantamix Solutions MAKES
  NO WARRANTIES, EXPRESSED OR IMPLIED, INCLUDING NO WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE,
  RESPECTING THE SERVICES.</p>

<p><strong>Arbitration</strong><br />
  In the event of any dispute or difference arising between the parties hereto or as to the rights and obligations under
  this agreement or as to any claim. monetary or otherwise of one party against the other or as to the Interpretation
  and effect of any terms and conditions of this agreement, such dispute or difference shall be referred to arbitration
  of a common Arbitrator if agreed upon or otherwise to two Arbitrators, one to be appointed by each of the parties to
  this agreement and such Arbitration shall be governed by the corresponding local laws.<br />
  The validity of this agreement and effect or meaning of the terms hereof will be decided according to the law of
  state/country concerned.&nbsp;<br />
  &nbsp;</p>
</div>
</body>

</html>
{% endblock content %}
